<table class="askiatable">
<tbody>
<tr>
<td class="askiatd askiatdfirstcolumn" valign="top"><strong>Summary</strong></td>
<td class="askiatd">{{ADXDescription}}</td>
</tr>
<tr>
<td class="askiatd askiatdfirstcolumn" valign="top"><strong>Applies to</strong></td>
<td class="askiatd">askiadesign</td>
</tr>
<tr>
<td class="askiatd askiatdfirstcolumn" valign="top"><strong>Written for</strong></td>
<td class="askiatd">Scriptwriters and survey authors</td>
</tr>
<tr>
<td class="askiatd askiatdfirstcolumn" valign="top"><strong>Keywords</strong></td>
<td class="askiatd">{{ADXListKeyWords}}</td>
</tr>
</tbody>
</table>
{{ADXQexPicture}}
<ul>
{{ADXSentence:accesSurvey}}
{{ADXQexFileURL}}
<li>To download the ADC control, {{ADXAdcFileURL}}</li>
<li>Version of the adc: {{ADXVersion}}</li>
</ul>
<p>{{ADXConstraints}}</p>
<p> </p>

{{ADXProperties:HTML}}
